.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: white;
}

.meetUserVideo {
    position: absolute;
    bottom: 10%;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    width: auto;
    bottom: 0;
    display: flex;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 

    display: flex;
    
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    height: 100%;
    right: 0;
    background: #deb3ad;
    border-radius: 10px;
    width: 30%;
    padding-inline: 20px;
    bottom: 0;
    
   

}

.chatContainer {
    position: relative;
    height: 100%;
    top: -1;
    right: 0;
    align-items: start;
    bottom: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.chattingArea {
    position: absolute;
    bottom: 0;
    align-items: start;
    display: grid;
    padding: 5px;
    
}

.chattingArea button {
    padding-inline: 0px;
    padding-block: 5px;

    cursor: pointer;

}
